body {
    background-color:rgb(190, 255, 233);
    color: rgb(83, 83, 83);
    font-family: 'Courier New', Courier, monospace;
}
section {
    padding: 20px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: black;
}
p {
    text-align: center;
}
#name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    padding-top: 2ch;
    text-align: center;
}
#name-container {
    padding-top: 2ch;
    display: flex;
    justify-content:  center;
    margin-top: 6em;
}
#profile-picture {
    border-radius: 50%;
    margin: 1em;
    width: 30vw;
    border-style:outset;
    border-width: 2dvi;
    border-color: darkcyan;
}
#navigation {
    position:fixed;
    text-align: center;
    justify-content: center;
    top: 0;
    opacity: 100%;
    width: 100%;
    background-color: cadetblue;
}
#navigation ul {
    display: inline-flex;
    gap:  3em;
    padding-bottom: 0;
    list-style: none;
}
.exp-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.exp-item {
    display: flex;
    flex-direction: row;
    width: 20em;
    border-radius: 0.8em;
    padding: 0.5em;
    background-color: cornflowerblue;
}
.one-experience {
    display: flex;
    flex-direction: column;
}
.date {
    font-weight: bold;
    margin-right: 1em;
    min-width: fit-content;
}
img[src="img/github.jpg"] {
    height: 50px;
}
img[src="img/gmail.webp"] {
    height: 50px;
}
img[src="img/linkedin.webp"] {
    height: 50px;
}
.exp-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 30em));
    gap: 10px;
}
@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        font-size: xx-large;
        text-align: left;
    }
    #navigation ul {
        gap:  2em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .date {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: larger;
    }
}
@media only screen and (min-width: 1150px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    h2 {
        font-size: xx-large;
        text-align: center;
    }
    #navigation ul {
        gap:  6em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .date {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
    }
}